# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# pyenv
.python-version

# PEP 582
__pypackages__/

/backend/app/cards/.objects/
/backend/app/interfaces/.objects
/backups/
/config/
/tests/cypress/results/
/tests/cypress/screenshots/
/tests/node_modules/
/fonts/
/frontend/public/preview/card*
/yml/
*._*
*.prof
.DS_Store
.env
temp*.jpg
uv.lock
.vscode
/site
