<!DOCTYPE html>
<html lang="en">

<head>
  <title>Missing Cards - TitleCardMaker</title>
  {% include "/pages/html_boilerplate.html" %}

  <script type="text/javascript">
    {% include "/js/missing.js" %}
  </script>

  <link rel="stylesheet" type="text/css" href="/css/addSeries.css?v={{preferences.config.CURRENT_VERSION}}"/>

  <template id="missing-card-template">
    <tr>
      <td data-row="series" class="collapsing selectable">
        <a>
          <h4 class="ui image header">
            <img class="ui tiny rounded image">
            <div class="content" data-value="name">{SERIES}</div>
          </h4>
        </a>
      </td>
      <td class="center aligned" data-row="count"></td>
      <td class="center aligned" data-row="expand">
        <button class="ui mini icon button" data-action="expand">
          <i class="chevron down icon"></i>
        </button>
      </td>
    </tr>
  </template>

  <template id="missing-card-detail-template">
    <tr class="missing-card-detail" style="display: none;">
      <td colspan="3">
        <div class="ui cards" data-row="episodes-container"></div>
      </td>
    </tr>
  </template>

  <template id="missing-episode-template">
    <div class="card">
      <div class="content">
        <div class="header" data-row="episode-info"></div>
        <div class="meta" data-row="episode-title"></div>
      </div>
    </div>
  </template>

  <template id="missing-logo-template">
    <tr>
      <td data-row="series" class="collapsing selectable">
        <a>
          <h4 class="ui image header">
            <img class="ui tiny rounded image">
            <div class="content" data-value="name">{SERIES}</div>
          </h4>
        </a>
      </td>
      <td data-row="filename"></td>
    </tr>
  </template>

  <template id="unloaded-card-template">
    <tr>
      <td data-row="series" class="collapsing selectable">
        <a>
          <h4 class="ui image header">
            <img class="ui tiny rounded image">
            <div class="content" data-value="name">{SERIES}</div>
          </h4>
        </a>
      </td>
      <td class="center aligned" data-row="count"></td>
      <td class="center aligned" data-row="load">
        <button class="ui small primary button" data-action="load">
          <i class="upload icon"></i>
          Load Cards
        </button>
      </td>
      <td class="center aligned" data-row="expand">
        <button class="ui mini icon button" data-action="expand">
          <i class="chevron down icon"></i>
        </button>
      </td>
    </tr>
  </template>

  <template id="unloaded-card-detail-template">
    <tr class="unloaded-card-detail" style="display: none;">
      <td colspan="4">
        <div class="ui cards" data-row="cards-container"></div>
      </td>
    </tr>
  </template>

  <template id="unloaded-card-image-template">
    <div class="card">
      <div class="image">
        <img class="ui tiny rounded image">
      </div>
      <div class="content">
        <div class="header" data-row="episode-info"></div>
      </div>
    </div>
  </template>

</head>

<body onload="initAll();" style="background-image: var(--background);">
  <div class="pusher">
    <!-- Static header and sidebar -->
    <div id="page-header">
      {% include "/pages/header.html" %}
    </div>
    <div id="nav-menu">
      {% include "/pages/home_sidebar.html" %}
    </div>

    <!-- Actual page content -->
    <div id="main-content" class="article">
      <h1 class="ui header">Missing Title Cards</h1>
      <table class="ui celled compact unstackable structured striped table" id="missing-cards">
        <thead>
          <tr>
            <th>Series</th>
            <th class="center aligned">Count</th>
            <th class="center aligned">Episodes</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
      <div id="card-pagination" class="ui centered pagination menu"></div>

      <h1 class="ui header">Missing Logos</h1>
      <table class="ui celled compact unstackable structured striped table" id="missing-logos">
        <thead>
          <tr>
            <th>Series</th>
            <th>File</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>

      <h1 class="ui header">Unloaded Cards</h1>
      <table class="ui celled compact unstackable structured striped table" id="unloaded-cards">
        <thead>
          <tr>
            <th>Series</th>
            <th class="center aligned">Count</th>
            <th class="center aligned"></th>
            <th class="center aligned">Title Cards</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
      <div id="unloaded-pagination" class="ui centered pagination menu"></div>

    </div>
  </div>
</body>
</html>