<!-- All card types modal - standalone component -->
<div id="all-card-types-modal" class="ui large scrolling modal">
  <i class="close icon"></i>
  <div class="header">
    <i class="images icon"></i>
    Available Card Types
  </div>
  <div class="content">
    <div class="ui fluid icon input" style="margin-bottom: 1em;">
      <input type="text" id="card-type-filter" placeholder="Filter card types by name...">
      <i class="search icon"></i>
    </div>
    <div id="card-types-content">
      <!-- Populated dynamically -->
    </div>
  </div>
  <div class="actions">
    <div class="ui button" onclick="$('#all-card-types-modal').modal('hide');">
      Close
    </div>
  </div>
</div>
